* {
    font-family: Arial, Verdana, sans-serif;
}

.home-title {
    text-align: center;
}

.home-img {
    height: auto;
    width: 372px;
}

.arepa-img {
    height: auto;
    width: 342px;
}

.sancocho-img {
    height: auto;
    width: 600px;
}

.chorizo-img {
    height: auto;
    width: 400px;
}